<%# Copied from RapidUI v0.1.4 | Source: rapid_ui/docs/app/view_components/demo.html.erb %>
<%= component_tag class: "demo", data: { controller: stimulus_controller_name } do %>
  <div class="demo-content<%= " #{content_class}" if content_class %>">
    <%= html %>
  </div>

  <div class="demo-code-tabs">
    <%= tab_button erb_code, "ERB", "erb" %>
    <%= tab_button ruby_code, "Ruby", "ruby" %>
    <%= tab_button html_code, "HTML", "html" %>
  </div>

  <%= tab_panel erb_code, "erb" %>
  <%= tab_panel ruby_code, "ruby" %>
  <%= tab_panel html_code, "html" %>
<% end %>
