<%# Copied from RapidUI v0.1.3 | Source: rapid_ui/docs/app/views/search/show.html.erb %>
<% if @results.empty? %>
  <div class="search-no-results">
    <span>No results found</span>
  </div>
<% else %>
  <% @results.each do |result| %>
    <a class="search-result-item" href="<%= url_for(action: "show", section: result[:section]) %>" data-section="<%= result[:section] %>">
      <div class="search-result-title"><%= result[:title] %></div>
      <div class="search-result-description"><%= result[:description] %></div>
      <div class="search-result-type"><%= result[:type] %></div>
    </a>
  <% end %>
<% end %>
